{% extends "base.html" %}
{% block title %}Task list{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Task List</h1>
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ task.title }}
                    <span class="badge badge-primary badge-pill">{{ task.status }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Add a <a href="{% url 'task-create' %}" >new task</a></p>
    </div>
{% endblock content %}